<header>
    <div class="wrapper">
        <a href="/" class="logo">krist<span style="color:var(--primary-theme-color);">ore</span></a>

        <nav>
            <a href="/">View Items</a>
        </nav>
    </div>
</header>